/* @override 
	http://localhost:8888/spiro-shirts/user/data/gantry5/themes/spiro_helium/css-compiled/custom_home_-_option2.css?* */


div#contentarray-4113-particle.g-content.g-particle div.g-content-array.g-grav-pages div.g-grid div.g-block div.g-content div.g-array-item {
	text-align: center;
}

.s-logo svg{
	max-height: 100px;
	margin-bottom: 22px;
}
footer#g-footer div.g-container div.g-grid div.g-block.size-100.nomarginall.nopaddingall hr {
	margin: 0;
	border-color: black;
	border-width: 2px;
}